@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
/****base****/
html{
  font-size: 19px;
}
*,*::after,*::before {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
p,h1,h2,h3,h4,pre {
  margin: 0;
}


/****flex****/
.flx-a-c {
  display: flex;
  align-items: center;
}
.flx-j-c {
  display: flex;
  justify-content: center;
}
.flx-ja-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

/****section l m xl****/
.section-l {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.section-m {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.section-xl {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/****img style****/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/****desactivar****/
.desactivado {
  display: none;
}

/***logo***/
.header {
  height: 12rem;
  box-shadow: 0px 0px .65rem #bbbbbb;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
}
.header__contacto {
  gap: 4rem;
  height: 7rem;
  margin-top: 1rem;
}
.logo__responsive{
  display: none;
}
.logo {
  width: 14rem;
  height: 8rem;
}
.logo__img{
  width: 100%;
  height: 100%;
}

.wsp {
  flex-direction: column;
}
.wsp__message {
  text-transform: uppercase;
}
.wsp__reservar {
  text-transform: uppercase;
}
.wsp__link {
  padding: 0.3rem 1rem;
  border: 1px solid #4d4d4d;
  margin-top: 1rem;
  transform: scale(1);
  transition: transform 0.4s, color 0.4s;
  border-radius: 0.25rem;
}
.wsp__link:hover {
  color: white;
  transform: scale(1.2);
  background-color: #1c8013;
  box-shadow: 0px 0px 10px #4d4d4d;
  border: 1px solid #1c8013;
}
/***header nav main***/
.header-nav {
  margin: 1rem auto;
}
.main-nav__list {
  gap: 0.8rem;
}
.main-nav__link {
  padding: 0.4rem 0.8rem;
  position: relative;
  cursor: pointer;
  color: #1a1a1a;
  text-align: center;
  transition: color 0.5s;
  text-transform: uppercase;
}
.main-nav__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #99b0a0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.main-nav__link:hover::after {
  transform: scaleX(1);
}
.main-nav__link:hover {
  color: #99b0a0;
}

/***sections***/
.section-servicios {
  min-height: 100vh;
  background-color: #2e2e2e;
}
.wrapper-servicios{
  gap: 2.5rem;
  justify-content: center;
  padding: 3rem 0;
}
.servicios__info{
  width: 30vw;
  height: 110vh;
  background-color: black;
  border-radius: 1.2rem;
}
.servicios__info h2{
  width: 50%;
  color: white;
  position: relative;
  margin-left: 6rem;
  font-size: 2rem;
  padding: 2rem;
  padding-left: 0;
}
.servicios__info h2:before {
  content: "";
  background: #fbb900;
  height: 2px;
  width: 3rem;
  left: -3.3rem;
  position: absolute;
  top: 3rem;
}
.servicios__img-1{
  width: 45vw;
  height: 110vh;
  background-color: #72085E;
  border-radius: 1.2rem;
  padding: 2.5rem;
}
.servicios__img-2{
  width: 100%;
  height: 100%;
  background-color: #7D0A68;
  padding: 3rem;
}
.servicios__img-3{
  width: 100%;
  height: 100%;
  background-color: #8C0D75;
  padding: 3.5rem;
}
.servicios__img-4{
  width: 100%;
  height: 100%;
  background-color: #9B0F81;
  position: relative;
}
.servicios__img-4 img{
  position: absolute;
  width: 30vw;
  height: 45vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 20px  #3e0734;
  border-radius: .5rem;
  z-index: 10;
  transition: transform 1.5s;
}
.section-servicios:hover .servicios__img-4 img{
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

/* quienes somos */
.section-quienesSomos {
  min-height: 100vh;
}
.quienes-somos__part2-wrapper{
  background-color: #F0F0F0;
}
.quienes-somos__part1{
  align-items: flex-start;
  padding: 4rem 0rem;
}
.quienes-somos__part1 h2{
  width: 50%;
  color: #4d4d4d;
  position: relative;
  margin-left: 3.3rem;
  font-size: 2rem;

}
.quienes-somos__part1 h2:before {
  content: "";
  background: #fbb900;
  height: 2px;
  width: 3rem;
  left: -3.3rem;
  position: absolute;
  top: 1rem;
}
.quienes-somos__part1 p{
  width: 50%;
  padding-left: 5vw;
  padding-bottom: 1rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  letter-spacing: .06rem;
  color: #666666;
}


.quienes-somos__part2 img{
  width: 50%;;
  height: 75vh;
  box-shadow: 2rem 2rem 1rem rgb(189, 189, 189);
  position: relative;
  transform: translate(0rem, 0rem);
  transition: transform 2s;
  border-radius: .5rem;
}
.section-quienesSomos:hover .quienes-somos__part2 img {
  transform: translate(-1.5rem, -2.5rem);
}
.quienes-somos__description{
  width: 50%;
  padding: 5vw 0 5vw 5vw;
}
.quienes-somos__description h2{
  padding: 1rem 0;
  color: #4d4d4d;
}
.quienes-somos__description p{
  padding-bottom: 1rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  letter-spacing: .06rem;
  color: #666666;
}



.section-galeria {
  min-height: 100vh;
}

/**** menu-toggle-NO MODIFICADO ****/
.button-toggle {
  height: 2rem;
  width: 2.5rem;
  position: absolute;
  cursor: pointer;
  display: none;
  inset: 1.5rem 1.5rem auto auto;
}
.button-toggle::after,.button-toggle::before,.linea-toggle {
  content: '';
  display: block;
  width: 100%;
  background-color: black;
  height: 6px;
  position: absolute;
  transition: transform 0.7s, bottom 0.5s, top 0.5s;
}
.button-toggle::after {
  bottom: 0;
}
.linea-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.button-toggle::before {
  top: 0;
}
.active::after {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}
.active::before {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.active .linea-toggle {
  transform: scale(10%);
}

/***habitaciones***/
.section-habitaciones {
  background-color: #f4f4f4;
}
.wrapper-habitaciones {
  min-height: calc(100vh - 12rem);
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  padding: 1.5rem 1rem;
}
/* habitaciones info */
.habitaciones-info {
  position: relative;
}
.habitaciones-info__h3 {
  margin-left: 3.5rem;
  color: #666666;
}
.habitaciones-info__h3:before {
  content: "";
  background: #fbb900;
  width: 35px;
  height: 2px;
  position: absolute;
  margin: 10px 0 0 -55px;
}
.habitaciones-info__title {
  letter-spacing: 0.1em;
  color: rgb(60, 60, 60);
  margin-top: 0.5rem;
  font-size: 2.2rem;
}
/* contenedor de cada habitacion */
.swiper-slide{
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(204, 204, 204) ;
}
/* habitaciones imagen y su titulo */
.habitaciones-titulo {
  height: 32vh;
}
.habitaciones-titulo img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.habitaciones-titulo h1 {
  letter-spacing: 0.1em;
  color: white;
  position: absolute;
  padding: 0.5rem 0.8rem;
  margin-left: 2.8rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  top: 10px;
}
.habitaciones-titulo h1:before {
  content: "";
  background: #fbb900;
  height: 2px;
  width: 36px;
  left: -2.8rem;
  position: absolute;
  top: 20px;
}

/* description */
.habitacion-description {
  padding: 0.5rem;
}
.habitacion-description__title {
  color: rgb(60, 60, 60);
  font-size: 1.1rem;
}
/* servicios */
.services {
  padding: 0.2rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  grid-auto-rows: 1.5rem;
}

.icon-service {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}
.icon-service p {
  margin-left: 0.5rem;
  font-size: .9rem;
}
.icon-service__img {
  width: 1.5rem;
  height: 1.5rem;
}
/* habitacion reservar */
.habitacion-reservar {
  border-top: 1px solid #cccccc;
  height: 5.5vh;
}
.habitacion-reservar .a-wsp {
  margin-top: 0;
  background-color: #1c8013;
  color: #fff;
  border: none;
  padding: 0.3rem 1rem;
  transition: transform .4s;
}
.habitacion-reservar .a-wsp:hover {
  transform: scale(1.3);
}

/* place  */
.place {
  height: 68vh;
}
.place:nth-child(even) {
  flex-direction: row-reverse;
}
.place__info {
  flex-direction: column;
  width: 40%;
  background-color: #1a1d1e;
  height: 100%;
  color: #a8ceb3;
}
.place__info > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}
.place__info > h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}
.place__info > p {
  padding: 1.5rem 2rem;
  color: #cccccc;
  line-height: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
}
.place__info > a {
  padding: 0.5rem 2rem;
  border: 1px solid #a8ceb3;
  color: #a8ceb3;
  transform: scale(1);
  transition: transform 0.4s;
}
.place__info > a:hover {
  padding: 0.5rem 2rem;
  background-color: #a8ceb3;
  color: #1a1d1e;
  font-weight: bold;
  transform: scale(1.2);
}
.place__img {
  width: 60%;
  height: 100%;
}

/***footer****/
.footer {
  padding:0.64rem 0px;
  background-color: black;
}
.footer p {
  color: #e6e6e6;
  text-align: center;
  width: 100%;
}
iframe {
  display: block;
}
@media screen and (max-width:1600px) {
  html{
    font-size: 16px;
  }
  .section-xl {
    max-width: 1300px;
  }
}
@media screen and (max-width:1280px) {
  html{
    font-size: 15px;
  }
  .section-xl {
    max-width: 1100px;
  }
}
@media screen and (max-width:640px) {
  /* menu mobile */
  .header-nav{
    display: none;
    margin: 0;
  }
  .button-toggle {
    display: block;
  }
  .button-toggle.active{
    position: fixed;
    z-index: 70;
  }
  .active.button-toggle::after, .active.button-toggle::before, .active.linea-toggle {
    background-color: white;
    border: 1px solid black;
  }
  .menu-container__active{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:60;
  }
  .menu-toggle__active{
    width: 70%;
    height: 70%;
    background-color: rgb(106, 130, 111);
    border-radius: 0.63rem;
    padding-top: 5%;
  }
  .main-nav__list{
    flex-direction: column;
    padding-right: 0rem;
    height: 50vh;
    background-color: rgb(111, 138, 117);
  }
  .main-nav__item{
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
  }
  .main-nav__link{
    font-size: 1.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-toggle__active .main-nav__link{
    color: white;
    font-weight: 600;
  }
  /* place */
  .place {
    height: auto;
    flex-direction: column-reverse;
  }
  .place:nth-child(even) {
    flex-direction: column-reverse;
  }
  .place__info {
    width: 100%;
    padding-bottom: 4rem;
  }
  .place__img{
    width: 100%;
  }
  /* nav */
  .header {
    height: 5rem;
    background-color: #E6E6E6;
  }
  .header__contacto {
    gap: 5vw;
    height: 4rem;
    margin-top: .5rem;
  }
  .logo__desktop{
    display: none;
  }
  .logo__responsive{
    display: block;
  }
  .logo {
    width: 10rem;
    height: 3rem;
  }
  .logo__img{
    width: 100%;
    height: 100%;
  }

  .wsp__message {
    display: none;
  }
  .wsp__reservar {
    display: none;
  }
  .wsp__link {
    background-color: #1c8013;
    margin-top: 0;
    color: white;
  }
  .section-xl.header__contacto {
    margin-left: 1rem;
  }
}