@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
body {
  min-height: 100vh;
  margin: 0;
}

.header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

h1{
  font-size: 25px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 14px;
}

/* .main {
  grid-column: 1/ span 1;
  grid-row: 2 / span 1;
  min-height: calc(100vh - 256px); } */


.flx-a-c {
  display: flex;
  align-items: center;
}

.flx-j-c {
  display: flex;
  justify-content: center;
}

.flx-ja-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-l {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section-m {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.section-xl {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desactivado {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

p,
h1,
h2,
h3,
h4,
pre {
  margin: 0;
}
.container-hk{
  padding: 80px 0px;
}
.row-hk{
  max-width: 1240px;
  margin: auto;
  overflow: hidden;
}

.header {
  height: 12rem;
  box-shadow: 0px 1px 10px #b3b3b3;
  width: 100%;
  background-color: #ffffff;
  z-index: 40;
  display: flex;
  flex-direction: column;
}

.header-contacto {
  gap: 4rem;
  height: 112px;
  margin-top: 1rem;
}

.logo-container {
  width: 14rem;
  height: 8rem;
}

.logo-container a {
  width: 100%;
  height: 100%;
}
.logo-container a > img {
  width: 200px;
}

.header-wsp {
  flex-direction: column;
}

.header-wsp p {
  text-transform: uppercase;
}

.header-wsp h2 {
  text-transform: uppercase;
}

.a-wsp {
  padding: 0.3rem 1rem;
  border: 1px solid #4d4d4d;
  margin-top: 1rem;
  transform: scale(1);
  transition: transform 0.4s, color 0.4s;
  border-radius: 4px;
}

.a-wsp:hover {
  transform: scale(1.2);
}

.header-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.header-nav ul {
  gap: 0.8rem;
}

.header-option {
  display: block;
  padding: 0.4rem 0.8rem;
  position: relative;
  cursor: pointer;
  color: #1a1a1a;
  text-align: center;
  transition: color 0.5s;
  text-transform: uppercase;
}

.header-option::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #99b0a0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.header-option:hover::after {
  transform: scaleX(1);
}

.header-option:hover {
  color: #99b0a0;
}

.footer {
  padding: 10px 0px;
  background-color: black;
}

.footer p {
  color: #e6e6e6;
  text-align: center;
  width: 100%;
}


.section-servicios {
  min-height: 100vh;
  /* background-color: aqua; */
}

.section-quienesSomos {
  min-height: 100vh;
  /* background-color: chartreuse; */
}

.section-galeria {
  min-height: 100vh;
  /* background-color: yellow; */
}

.button-toggle {
  height: 2rem;
  width: 2.5rem;
  position: absolute;
  cursor: pointer;
  display: none;
  top: 1rem;
  right: 1.5rem;
}

.button-toggle::after,
.button-toggle::before,
.linea-toggle {
  content: "";
  display: block;
  width: 100%;
  background-color: #4d4d4d;
  height: 5px;
  position: absolute;
  transition: transform 0.7s, bottom 0.5s, top 0.5s;
}

.button-toggle::after {
  bottom: 0;
}

.linea-toggle {
  top: 50%;
  transform: translateY(-50%);
}

.button-toggle::before {
  top: 0;
}

.active::after {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

.active::before {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.active .linea-toggle {
  transform: scale(10%);
}

.section-habitaciones {
  background-color: #f4f4f4;
}
.wrapper-habitaciones {
  min-height: calc(100vh - 192px);
  
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  padding: 1rem 0;
}

.habitaciones-info {
  position: relative;
}

.habitaciones-info h3 {
  margin-left: 57px;
  color: #666666;
}

.habitaciones-info h3:before {
  content: "";
  background: #fbb900;
  width: 35px;
  height: 2px;
  position: absolute;
  margin: 10px 0 0 -55px;
}

.habitaciones-info h2 {
  letter-spacing: 0.1em;
  color: #0c4431;
  margin-top: 0.5rem;
}

/* fdgh */


.flickity-page-dots {
  display: none;
}

.habitacion-card.is-selected {
  opacity: 1;
}

.habitacion-description {
  padding: 0.5rem;
}

.habitacion-description > h2 {
  color: #666666;
}

.services {
  padding: 0.2rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(98px, 1fr));
  grid-auto-rows: 24px;
}

.icon-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.icon-container p {
  margin-left: 0.5rem;
}

.icon {
  width: 24px;
  height: 24px;
}

.habitacion-reservar {
  border-top: 1px solid #cccccc;
  height: 39px;
}

.habitacion-reservar .a-wsp {
  margin-top: 0;
  background-color: #0c4431;
  color: #fff;
  border: none;
  padding: 0.2rem 1rem;
}

.habitacion-reservar .a-wsp:hover {
  border: none;
}

.flickity-button {
  position: absolute;
  z-index: 50;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 1rem;
}

.previous {
  left: 1rem;
}

.habitaciones-titulo {
  height: 400px;
}

.habitaciones-titulo img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.habitaciones-titulo h1 {
  letter-spacing: 0.1em;
  color: white;
  position: absolute;
  padding: 0.5rem 0.8rem;
  margin-left: 2.8rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  top: 10px;
}

.habitaciones-titulo h1:before {
  content: "";
  background: #fbb900;
  height: 2px;
  width: 36px;
  left: -2.8rem;
  position: absolute;
  top: 20px;
}

iframe {
  display: block;
}

.place {
  height: 540px;
}

.place:nth-child(even) {
  flex-direction: row-reverse;
}

.place-info {
  flex-direction: column;
  width: 40%;
  padding: 10px;
  background-color: #1a1d1e;
  height: 100%;
  color: #a8ceb3;
}

.place-info > h2 {
  text-transform: uppercase;
  text-align: center;
}

.place-info > h3 {
  text-transform: uppercase;
  text-align: center;
}

.place-info > p {
  padding: 1.5rem 0rem;
  color: #cccccc;
  line-height: 25px;
  text-align: center;
}

.place-info > a {
  padding: 0.5rem 2rem;
  border: 1px solid #a8ceb3;
  color: #a8ceb3;
  transform: scale(1);
  transition: transform 0.4s;
}

.place-info > a:hover {
  padding: 0.5rem 2rem;
  background-color: #a8ceb3;
  color: #1a1d1e;
  font-weight: bold;
  transform: scale(1.2);
}

.place-img {
  width: 60%;
  height: 100%;
}

/* slide portada */
.portada-swiper{
  height: 60vh;
}


.slide-portada{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slide-portada img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
.overlay-slide{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1d1e;
  opacity: 0.5;
  z-index: 1500;
}
.content-slide{
  position: relative;
  z-index: 2000;
}

@media screen and (max-width: 550px) {
  .logo-header {
    margin-left: 1.5rem;
  }
  .header-nav {
    display: none;
  }
  .button-toggle {
    display: block;
  }
  .button-toggle.active {
    position: fixed;
    z-index: 70;
  }
  .active.button-toggle::after,
  .active.button-toggle::before,
  .active.linea-toggle {
    background-color: white;
    border: 1px solid black;
  }
  .toggle-containerActive {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 60;
  }
  .menu-toggle-active {
    width: 70%;
    height: 70%;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #333333;
    padding-top: 5%;
    padding-bottom: 35%;
  }
  .menu-toggle-active ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0rem;
  }
  .menu-toggle-active ul li {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
  }
  .menu-toggle-active ul a {
    display: block;
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: 900;
    height: 100%;
    width: 100%;
  }
  .button-toggle.active {
    position: fixed;
    z-index: 70;
  }
  .active.button-toggle::after,
  .active.button-toggle::before,
  .active.linea-toggle {
    background-color: white;
  }
}
