.place{
   height: 540px; 
}
.place:nth-child(even){
    flex-direction: row-reverse;
}
.place-info{
    flex-direction: column;
    width: 40%;
    padding: 3rem 6rem;
    background-color: #1A1D1E;
    height: 100%;
    color: #A8CEB3;
}
.place-info>h2{
    font-size: $text-xl;
    text-transform: uppercase;
    text-align: center;
}
.place-info>h3{
    font-size: $text-xxxl;
    text-transform: uppercase;
    text-align: center;
}
.place-info>p{
    padding: 1.5rem 0rem;
    color: $white-80;
    font-size: $text-l;
    line-height: $text-xl;
    text-align: center;
}
.place-info>a{
    padding: .5rem 2rem;
    border: 1px solid #A8CEB3;
    color: #A8CEB3;
    transform: scale(1);
    transition: transform .4s;
}
.place-info>a:hover{
    padding: .5rem 2rem;
    background-color: #A8CEB3;
    color: #1A1D1E;
    font-weight: bold;
    transform: scale(1.2);
}
//
.place-img{
    width: 60%;
    height: 100%;
}
